@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
  color: #333333;
  word-spacing: 1px;
  letter-spacing: 0.06rem;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #F9FCFF;
}

h1 {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  font-size: 1.75rem;
}

body {
  margin: 0;
}
